@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  width: 1.5rem; /* 24px */
  height: 1.5rem;
}
